.component {
  position: relative;
  overflow: hidden;
  contain: style layout paint;

  & > .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.image {
  will-change: transform;
  object-fit: cover;
}
